<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>We App Demo</title>

  <link rel="stylesheet" href="lib/bootstrap.min.css" media="screen" title="Bootstrap" />
<script>
window.config = <%= JSON.stringify(htmlWebpackPlugin.options.options.config) %>
</script>

</head>
<body>
  <section id="application"></section>

  <!-- Application Requirements -->
  <script src="lib/jquery.min.js"></script> <!-- Must be before bootstrap -->
  <script src="lib/bootstrap.min.js"></script>
</body>
</html>
